/* src/components/RentalModal/RentalModal.module.css */
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: var(--inputs);
  border-radius: 14px;
  padding: 24px;
  width: 100%;
}

.formTitle {
  font: 600 20px/1.4 var(--font-family);
  color: var(--main);
}

.formText {
  font: 400 14px/1.4 var(--font-family);
  color: var(--gray);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input,
.form textarea {
  padding: 12px;
  font: 400 14px/1.4 var(--font-family);
  border-radius: 10px;
  border: 1px solid var(--gray-light);
  background: var(--white);
}

.datepicker {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  padding: 12px 14px;
  font: 500 16px/1.5 var(--font-family);
  color: var(--main);
  border: none;
  background: var(--inputs);
}

.form textarea {
  resize: vertical;
  min-height: 80px;
}

.form button {
  padding: 12px;
  font: 600 16px/1.4 var(--font-family);
  background: var(--button);
  color: var(--white);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color var(--transition-fast);
}

.form button:hover {
  background-color: var(--button-hover);
}

.success {
  font: 500 16px/1.4 var(--font-family);
  color: green;
  text-align: center;
}
