/* src/components/CarCard/CarCard.module.css */
.card {
  width: 274px;
  border-radius: 14px;
  background: var(--white);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 268px;
  overflow: hidden;
  border-radius: 14px 14px 0 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info {
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  flex-grow: 1;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font: 500 18px / 1.3 var(--font-family);
  color: var(--main);
  text-align: left;
}

.model {
  color: var(--button);
}

.price {
  color: var(--main);
  font: 600 18px / 1.3 var(--font-family);
}

.details {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  color: var(--gray);
  font: 400 14px / 1.4 var(--font-family);
  text-align: left;
}

.divider {
  color: var(--gray-light);
}

.button {
  width: 100%;
  margin-top: auto;
  padding: 12px 0;
  border-radius: 12px;
  background: var(--button);
  color: var(--white);
  font: 600 14px / 1.3 var(--font-family);
  text-decoration: none;
  text-align: center;
  transition: background-color var(--transition-fast);
}

.button:hover {
  background-color: var(--button-hover);
}
